.gutterSplit {
  display: flex;
}

.gutterSplit > span {
  justify-content: flex-end;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0 1ex;
  text-align: center;
}

.gutterSplit > span > * {
  margin: .5ex auto;
}

.gutterSplit > span > span {
  white-space: pre;
}

.gutterSplit > span > span[title] {
  cursor: pointer;
}

.gutterSplit > span > button {
  cursor: pointer;
}

body {
  /* Avoid scrollbar when setting calendar height to viewport height */
  margin: 0;
}

/* Note that `body` here is to beat the RBC stylesheet rule specificity */
body .rbc-time-header-gutter {
  font-size: 8pt;
}

/* Note that `body` here is to beat the RBC stylesheet rule specificity */
body .rbc-calendar {
  height: 100vh;
}

.modal {
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
  border-radius: .25em;
  background: white;
  display: flex;
  flex-direction: column;
  max-height: 40vh;
  overflow: auto;
  padding: 1em;
  position: fixed;
  left: 40vw;
  top: 20vh;
  right: 40vw;

  /* Beat the RBC current time indicator line */
  z-index: 10;
}

.modal div {
  align-items: center;
  display: flex;
  font-weight: bold;
}

.modal div button {
  margin-left: auto;
}

.modal input {
  margin: 1ex 0;
}
